@import url('./reset.css');
body{
    font-family: "Manrope";
    font-size: 16px;
    color: #333333;
}

[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ================== */
.title{
    font-size: 40px;
    font-weight: 600;
    color: #000;

} 
.title_center{
    text-align: center;
}

.red_link{
    color: #fff;
    border-radius: 5px;
    background: #F85A47;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(248, 90, 71, 0.02), 0px 8.14815px 6.51852px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.51852px 25.48148px 0px rgba(248, 90, 71, 0.04), 0px 64.81481px 46.85185px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
}

.simple-rating {
    position: relative;
    font-size: 16px;
    display: inline-block;
}
.simple-rating::before{
    content: "★★★★★";
    display: block;
}
.simple-rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}
.simple-rating__item {
    position: absolute;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}
.simple-rating__label {
    flex: 0 0 20%;
    cursor: pointer;
    height: 100%;
}
.simple-rating__label::before{
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked ~.simple-rating__label{
    color: #FBB040;
}


/* ================== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.header__container {
    display: flex;
    min-height: 103px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header__logo {
    font-size: 23px;
    font-weight: 800;
    color: #31353b;
}
.header__menu {
    flex: 1 1 auto;
}
.menu-header {
}
.menu-header__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 46px;
}
.menu-header__item {
}
.menu-header__link {
    position: relative;
    color: #000;
    font-weight: 700;
    font-size: 13px;
}
.menu-header__link:hover {
    color: #333;
}
.menu-header__link::after{
    content: "";
    position: absolute;
    height: 1px;
    left: 50%;
    bottom: 0;
    width: 0;
    background: #000;
    transition: all 0.3s ease 0.1s;

}
.menu-header__link:hover:after{
    left: 0;
    width: 100%;
}
.page {
    flex: 1 1 auto;
}
.page__main{
}
.page_how {
}
.page__property {
}
.page__featured {
}
.page__reviews {
}
.page__subscribe {
}
/* section */
.main-block{
    padding-bottom: 110px;

}
.main-block__container {
    padding-top: 184px;
    position: relative;
}
.main-block__container:after{
    content: "";
    top: 0;
    left: 68%;
    width: 200%;
    height: 100%;
    position: absolute;
    background: #BDCCFF;
}
.main-block__body{
    display: flex;
    margin-bottom: 14px;
    align-items: flex-start;
    position: relative;

}
.main-block__content {
    flex: 0 1 50%;
}
.main-block__slider{
    flex: 0 1 50%;
    
    min-width: 0;
}

.slider-main-block {    
}

.slider-main-block__wrapper {
}
.slider-main-block__slide {
    position: relative;
    padding-bottom: 95%;
}
.slider-main-block__slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-block__arrow::after{
    display: none;
}
.main-block__arrows{
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 40px; 
}
.main-block__arrow.swiper-button-prev,
.main-block__arrow.swiper-button-next{
    position: static;
    width: 11px;
    height: 20px;
    background: url('../img/icons/arrow.svg') 0 0 no-repeat;
}
.main-block__arrow.swiper-button-prev{
    transform: rotate(-180deg);
}
.content-main-block {
}
.content-main-block__sub-title {
    color: #f90;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
.content-main-block__sub-title:not(:last-child){
    margin-bottom: 23px;
}
.content-main-block__title {
    color: #000;
    font-size: 54px;
    font-weight: 800;
    line-height: 1.35;
    max-width: 500px;
}
.content-main-block__title:not(:last-child){
    margin-bottom: 23px;
}
.content-main-block__text {
    color: #31353b;
    font-weight: 400;
    letter-spacing: 0.17px;
}
.content-main-block__text:not(:last-child){
    margin-bottom: 48px;
}
.content-main-block__form {
}
.form-main-block {
    position: relative;
    z-index: 5;
    margin-right: -188px;
    background: #fff url("../img/main/house.svg") 33px 50% no-repeat;
    display: flex;
    height: 86px;
}
.form-main-block__input {
    width: 100%;
    font-size: 20px;
    background-color: transparent;
    padding-left: 74px;
    flex: 1 1 100%;
    border: 1px solid #dadada;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
}
.form-main-block__input::placeholder{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: rgb(49, 53, 59,0.3);
}
.form-main-block__btn {
    /* width: 188px; */
    flex: 0 0 188px;
    padding: 5px 15px;
    background: #F85A47;
    color: #fff;
    letter-spacing: 0.17px;
    font-weight: 700;
    cursor: pointer;
}

.main-block__partners {
}
.partners-main-block {
}
.partners-main-block__label {
    font-weight: 400;
    letter-spacing: 0.17px;
    color: #31353b;
}
.partners-main-block__label:not(:last-child){
    margin-bottom: 24px;
}
.partners-main-block__items {
    display: flex;
    column-gap: 50px;
    align-items: center;
    flex-wrap: wrap;
}
.partners-main-block__item {
}
.partners-main-block__item img{
    max-width: 100%;
}

/* section */
.how {
    padding-top: 110px;
    padding-bottom: 125px;
}
.how__container {

}
.how__title {
}

.how__title:not(:last-child) {
    margin-bottom: 70px;
}
.how__items {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
}
.how__item {
}
.item-how {
    position: relative;
    max-width: 260px;
    display: grid;
    justify-items: center;
    text-align: center;
    
}

.item-how:not(:last-child)::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 11px;
    max-width: 210px;
    transform: translate(86.5%,0);
    top: 41px;
    right: 0;
    background: url('../img/main/how/border.svg') 0 0 no-repeat;
}

.item-how_2:not(:last-child)::after{
    transform: translate(86.5%,0) rotate(-180deg);
}

.item-how__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 20px;
}
.item-how__icon:not(:last-child){
    margin-bottom: 50px;
}
.item-how__icon_1{
    background: #9672FF;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(150, 114, 255, 0.02), 0px 8.14815px 6.51852px 0px rgba(150, 114, 255, 0.03), 0px 20px 13px 0px rgba(150, 114, 255, 0.04), 0px 38.51852px 25.48148px 0px rgba(150, 114, 255, 0.04), 0px 64.81481px 46.85185px 0px rgba(150, 114, 255, 0.05), 0px 100px 80px 0px rgba(150, 114, 255, 0.07);
}
.item-how__icon_2{
    background: #4DDFFD;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(77, 223, 253, 0.02), 0px 8.14815px 6.51852px 0px rgba(77, 223, 253, 0.03), 0px 20px 13px 0px rgba(77, 223, 253, 0.04), 0px 38.51852px 25.48148px 0px rgba(77, 223, 253, 0.04), 0px 64.81481px 46.85185px 0px rgba(77, 223, 253, 0.05), 0px 100px 80px 0px rgba(77, 223, 253, 0.07);
}
.item-how__icon_3{
    background: #F2B8EC;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(242, 184, 236, 0.02), 0px 8.14815px 6.51852px 0px rgba(242, 184, 236, 0.03), 0px 20px 13px 0px rgba(242, 184, 236, 0.04), 0px 38.51852px 25.48148px 0px rgba(242, 184, 236, 0.04), 0px 64.81481px 46.85185px 0px rgba(242, 184, 236, 0.05), 0px 100px 80px 0px rgba(242, 184, 236, 0.07);
}
.item-how__icon img{
    max-width: 100%;
}
.item-how__title {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    line-height: 30px;
}
.item-how__title:not(:last-child) {
    margin-bottom: 15px;
}
.item-how__text {
    color: #333333;
    line-height: 1.625; /* 26/16 */
    font-weight: 400;
}
/* section */

.deals {
    padding-top: 100px;
    padding-bottom: 140px;
}
.deals__container {
}
.deals__header {
}
.deals__header:not(:last-child) {
    margin-bottom: 50px;
}
.header-deals {
    display: flex;
    align-items: center;
}
.header-deals__content {
    flex: 1 1 auto;
}
.header-deals__title {
}
.header-deals__title:not(:last-child) {
    margin-bottom: 15px;
}
.header-deals__text {
    max-width: 470px;
    color: #000;
    font-weight: 400;
    line-height: 1.5; /* 24/16 */
}
.header-deals__link {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    padding: 22px 34px;
    line-height: 1.35; /* 23/17 */
    transition: all 0.3s ease 0s;
}
.header-deals__link:hover{
    background-color: #ca4132;
}
.deals__tabs {
}
.tabs-deals {
}
.tabs-deals__nav {
    display: flex;
    column-gap: 50px;
}

.tabs-deals__nav:not(:last-child){
    margin-bottom: 45px;
}
.tabs-deals__button {
    color: #000;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.36; /* 26/19 */
    transition: color 0.3s ease 0s;
    position: relative;

}
.tabs-deals__button::after{
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -12px;
    left: 0;
    background-color: #F85A47;
    transition: width 0.3s ease 0s;
}
.tabs-deals__button.active::after,
.tabs-deals__button:hover:after{
    width: 100%;
}
.tabs-deals__button.active,
.tabs-deals__button:hover{
    color: #F85A47;
}



.tabs-deals__body {
}
.tabs-deals__item {
    display: none;
}
.tabs-deals__item.active {
    display: block;
}


.item-tabs {
}
.item-tabs__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(270px,370px));
}
.item-tabs__item {
    position: relative;
}
.item-tabs__options {
    position: absolute;
    left: 14px;
    top: 14px;
    z-index: 5;
    display: flex;
    column-gap: 6px;
}
.item-tabs__option {
    border-radius: 5px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.4);
    padding: 6px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25; /* 15/12 */
}
.item-tabs__image {
    border-radius: 5px;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 81%;
}
.item-tabs__image img:hover{
    transform: scale(1.1);
}
.item-tabs__image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* max-width: 100%; */
    transition: transform 0.3s ease 0s;
}

/* section */

.featured {
    padding-top: 100px;
    padding-bottom: 100px;
}
.featured__container {
}
.featured__title {
}
.featured__title:not(:last-child) {
    margin-bottom: 100px;
}
.featured__body {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 77px;
    padding: 40px;
    background: #F1FFFF;
}
.body-featured {
}
.body-featured__images {
}
.images-featured {
    display: grid;
    justify-items: center;
}
.images-featured__item {
}
.images-featured__item img{
    max-width: 100%;
}
.images-featured__item_mini{
    /* left: 50%; */
    /* transform: translate(0,-40%); */
    margin-top: -114px;
    box-shadow: 48px 58px 44px 0px rgba(0, 0, 0, 0.09), 0px 3.01852px 3.14815px 0px rgba(0, 0, 0, 0.01), 0px 13.28148px 6.51852px 0px rgba(0, 0, 0, 0.02), 0px 32.6px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.78519px 25.48148px 0px rgba(0, 0, 0, 0.02), 0px 105.64815px 46.85185px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
}
.body-featured__content {
}
.content-featured {
}
.content-featured__body{
    max-width: 412px;
    padding-top: 43px;
}

.content-featured__title {

    font-size: 31px;
}
.content-featured__title:not(:last-child){
    margin-bottom: 28px;
}

.content-featured__text {
    color: #545A58;
    font-weight: 400;
    line-height: 1.5; /* 24/16 */
}
.content-featured__text:not(:last-child){
    margin-bottom: 42px;
}
.content-featured__options {
}
.content-featured__options:not(:last-child) {
    margin-bottom: 54px;
}
.options-content-featured {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;

}
.options-content-featured__item {
}
.options-content-featured__label {
    color: #000;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.35; /* 23/17 */
}
.options-content-featured__label:not(:last-child){
    margin-bottom: 12px;
}
.options-content-featured__value {
    color: #545A58;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.35; /* 23/17 */
}
.content-featured__link {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.22; /* 22/18 */
    border-radius: 5px;
    background: #F85A47;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(248, 90, 71, 0.02), 0px 8.14815px 6.51852px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.51852px 25.48148px 0px rgba(248, 90, 71, 0.04), 0px 64.81481px 46.85185px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
    padding: 16px 37px;
    text-align: center;
}

/* section */
.reviews {
    padding-top: 100px;
    padding-bottom: 172px;
}
.reviews__container {
}
.reviews__title {
    max-width: 570px;
}
.reviews__title:not(:last-child) {
    margin-bottom: 51px;
}
.reviews__items {
    display: flex;
    gap: 30px;
}
.reviews__item {
}

.item-reviews {
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    max-width: 380px;
    padding: 52px 38px;
    transition: all 0.3s ease 0s;
}
.item-reviews:hover{
    border: 1px solid transparent;
    box-shadow: 3px 44px 54px 0px rgba(0, 0, 0, 0.08), 0px 1.85185px 3.14815px 0px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852px 25.48148px 0px rgba(0, 0, 0, 0.02), 0px 64.81481px 46.85185px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);

}
.item-reviews__rating {
}
.item-reviews__rating:not(:last-child) {
    margin-bottom: 34px;
}
.item-reviews__text {
    color: #333;
    line-height: 1.75; /* 28/16 */
    font-weight: 400;
}
.item-reviews__text:not(:last-child){
    margin-bottom: 53px;
}
.item-reviews__author {
}
.author-item-reviews {
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.author-item-reviews__avatar {
    flex: 0 0 48px;
    border-radius: 50%;
    overflow: hidden;
}
.author-item-reviews__body {
}
.author-item-reviews__name {
    font-weight: 700;
    color: #333;
    line-height: 1.375; /* 22/16 */
}
.author-item-reviews__location {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    line-height: 1.35; /* 19/14 */
}

.reviews__footer {
    padding-top: 84px;
}
.footer-reviews {
    display: flex;
    gap: 100px;
}
.footer-reviews__partners {
    flex: 1 1 auto;
}
.partners-footer-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.partners-footer-reviews__item {
}
.footer-reviews__info {
    flex: 0 0 311px;
    color: #333;
    font-weight: 400;
    line-height: 1.5; /* 24/16 */
}
.footer-reviews__info a{
    color: #2CBDE7;
    text-decoration: underline;
}
/* section */
.subscribe {
    padding-top: 200px;
    padding-bottom: 160px;
}
.subscribe__container {
}
.subscribe__header {
    text-align: center;
}
.subscribe__header:not(:last-child){
    margin-bottom: 34px;
}
.subscribe__title {
    color: #31353B;
    font-weight: 700;
    line-height: 1.42;
    font-size: 45px;
    letter-spacing: 0.9px;
}
.subscribe__title:not(:last-child){
    margin-bottom: 11px;
}
.subscribe__sub-title {
    color: #31353B;
    font-weight: 700;
    line-height: 1.42;
    font-size: 23px;
    letter-spacing: 0.46px;
}
.subscribe__form {
    max-width: 686px;
    margin: 0 auto;
}
.form-subscribe {
    padding: 25px 45px;
    display: flex;
    background: #fff;
    box-shadow: 0px 3.01852px 3.14815px 0px rgba(0, 0, 0, 0.01), 0px 13.28148px 6.51852px 0px rgba(0, 0, 0, 0.02), 0px 32.6px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.78519px 25.48148px 0px rgba(0, 0, 0, 0.02), 0px 105.64815px 46.85185px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
}
.form-subscribe__content {
    flex: 1 1 auto;
}
.form-subscribe__label {
    display: block;
    color: rgb(48, 53, 59,0.2);
    font-size: 17px;
    font-weight: 500;
    line-height: 1.41; /* 24/17 */
    letter-spacing: 0.34px;
}
.form-subscribe__label:not(:last-child){
    margin-bottom: 11px;
}
.form-subscribe__input {
    width: 100%;
    color:#31353B;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.45; /* 29/20 */
    letter-spacing: 0.4px;
}
.form-subscribe__button {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.44; /* 26/18 */
    letter-spacing: 0.36px;
    padding: 23px 40px;
    background: #F85A47;
    box-shadow: 0px 1.85185px 3.14815px 0px rgba(248, 90, 71, 0.02), 0px 8.14815px 6.51852px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.51852px 25.48148px 0px rgba(248, 90, 71, 0.04), 0px 64.81481px 46.85185px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
}

/* section */
.footer {
}
.footer__container {
    border-top: 1px solid #DEDFE1;
    padding-top: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 70px;
}
.footer__logo {
    color: #31353B;
    font-size: 23px;
    font-weight: 800;
    line-height: 1.34; /* 31/23 */
}
.footer__menu {
    display: flex;
    justify-content: flex-end;
}
.menu-footer {
}
.menu0footer__list {
    display: flex;
    gap: 46px;
}
.menu-footer__item {
}
.menu-footer__link {
    color: #31353B;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.3; /* 17/13 */
}
.footer__copy {
    grid-column: span 2;
    text-align: center;
    color: #31353B;

    font-size: 12px;
    font-weight: 700;
    line-height: 1.33; /* 16/12 */
}